// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

h2 {
  color: #3A3030;
  font-size: 20px;
  padding-top: 20px;
}

p {
  color: grey;
}

.rep {
  color: #3A3030;
  font-size: 20px;
  padding-top: 20px;
}

.text-centre {
  text-align: center;
  padding: 150px;
}

